.header {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #3a3b3c;
}

.headerLeft {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLeft {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.headerLeft__img > img {
  display: block;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.headerLeft__search {
  display: flex;
  background-color: #3a3b3c;
  margin-left: 20px;
  padding: 10px 50px 10px 10px;
  border-radius: 20px;
}
.headerLeft__search > .MuiSvgIcon-root .headerLeft__search > input {
  color: #e4e6eb;
}
.headerLeft__search > input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  margin-left: 10px;
}

.headerLeft__search > input:focus {
  outline: none;
}

/*****Middle*******/

.headerMiddle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerMiddle > .MuiSvgIcon-root {
  color: #e4e6eb;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 3px;
  padding: 10px 50px;
  border-radius: 10px;
}

.headerMiddle > .MuiSvgIcon-root:hover {
  background-color: #3a3b3c;
}

/*****Right******/

.headerRight {
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.headerRight__account {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  transition: 0.2s;
}
.headerRight__account:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}

.headerRight__account > p {
  margin-left: 10px;
}

.headerRight .MuiSvgIcon-root {
  color: #e4e6eb;
  cursor: pointer;
}

.headerRight > .MuiSvgIcon-root {
  background-color: #3a3b3c;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.2s;
}

.headerRight > .MuiSvgIcon-root:hover {
  background-color: #555758;
}
